Welcome to Google Colab. <br> This is a text block and this can be used to organize sections of code.

Variable Self Test

In [ ]:
variable_a = 25
variable_b = 70
variable_a = 40
variable_b = variable_a
print(variable_b)

40

Testing with strings. Double quotes, single quotes, and multiline strings using three quotations.

In [ ]:
#strings here
my_str="hi!"
print(my_str)
str2='sunday'
print(str2)
str3="""my name
is aiBridge"""
print(str3)

hi!
sunday
my name
is aiBridge

Testing with lists. Trying out single indexing using both positive and negative indexes.

In [ ]:
my_second_list = ["hello world", True, 5]
print(my_second_list[0]) #positive index
print(my_second_list[-3]) #negative index

hello world
hello world

List Self Test

In [ ]:
my_list = [21, 22, 23, 24, 25]
value = my_list[2]
print(value)

23

Here we are showing how indexing in tuples is similar to lists. However, tuples are not immutable and the following example shows that.

In [ ]:
my_second_tuple = (22, "hello!", True, 3.1415)
print(my_second_tuple[2])

my_list[0] = 3.14
print(my_list)

my_second_tuple[0]=23
print(my_second_tuple)

True
[3.14, 22, 23, 24, 25]

TypeError: 'tuple' object does not support item assignment

Here we show an example of a dictionary and how we call the key and get the value. What would happen if we call the value? Would we get the key in return?

In [ ]:
my_dictionary={'apple':'fruit', 'banana':'fruit', 'cabbage':'vegetable', 'dragonfruit':'fruit','eggplant':'vegetable'}
print(my_dictionary['vegetable'])

KeyError: 'vegetable'

Here we show an example of how to convert an integer to a float using the float(). You can also convert the integer to a string using the str(). Try it out yourself!

In [ ]:
num=3
print(num)
new_float=float(num)
print(new_float)

3
3.0

In [ ]:
num=3.0
print(type(num),num)
new_str=str(num)
print(type(new_str),new_str)

<class 'float'> 3.0
<class 'str'> 3.0

In [ ]:
new_string="ehllo"
print(type(new_string),new_string)
new_int=int(new_string)
print(type(new_int),new_int)

<class 'str'> ehllo

ValueError: invalid literal for int() with base 10: 'ehllo'

This is some basic arithemetic operators. Remember that double asterisks means exponentiation!

In [ ]:
print(5+3)
print(10-5)
print(12*12)
print(100/25)
print(2**4)

8
5
144
4.0
16

Here is an example of flooring and modulus. What would happen if we turned 11 to negative in the flooring example?

In [ ]:
print(-11//2)
print(12%5)

-6
2

If Statements Self Test

In [ ]:
petal_width = 1.8
petal_length = 3.5

if petal_width < 3 or petal_length < 3:
 print("condition 1 passed")

if petal_width < 3 and petal_length < 3:
 print("condition 2 passed")

if petal_width < 3:
 if petal_length < 3:
   print("condition 3 passed")

3 different ways to use the range function in for looping.

In [ ]:
#for loops
word_list = ["Lorem", "ipsum", "dolor", "sit", "amet", "fusce", "rhoncus", "mi", "viverra", "velit", "mattis"]

In [ ]:
for number in range(3):
  print(word_list[number])

Lorem
ipsum
dolor

In [ ]:
for number in range(3, 6):
  print(word_list[number])

sit
amet
fusce

In [ ]:
for number in range(3, 11, 2):
  print(word_list[number])

sit
fusce
mi
velit

Here is an example of a while loop.

In [ ]:
my_number = 0
while my_number < 6:
  print(my_number)
my_number = my_number + 1

Here is an example that shows the importance of tabbing. What would happen if we tabbed the print(sum) line?

In [ ]:
a_list = [3, 22, 1, 73, 40, 3, 19]
sum = 0

for i in range(0, 7):
  sum = sum + a_list[i]
  sum /= 2.4
  sum *= -1

  print(a_list[i])

#tab here
  print(sum)

3
-1.25
22
-8.645833333333334
1
3.1857638888888893
73
-31.744068287037038
40
-3.439971547067901
3
0.1833214779449588
19
-7.993050615810399

Here is an example of user input.

In [ ]:
#inputs
fav_animal=input("what's your favorite animal: ")
print(fav_animal)

what's your favorite animal: dolphin
dolphin

Here is an example of reading into a file. The following include the differences between read(), readline() and readlines().

In [ ]:
#reading into file
file_object=open("Lecture1DemoTxt.txt","r")
print(file_object.read())
file_object.close()

Hello
My name is AIBridge
Lovely to meet all of you

In [ ]:
#reading into file
file_object=open("Lecture1DemoTxt.txt","r")
print(file_object.readline())
file_object.close()

Hello

In [ ]:
#reading into file
file_object=open("Lecture1DemoTxt.txt","r")
print(file_object.readlines())
file_object.close()

['Hello\n', 'My name is AIBridge\n', 'Lovely to meet all of you']

Here is an example of writing into a new file.

In [ ]:
#writing into file
file_writer=open("Lecture1WriteTxt.txt","w")
file_writer.write("Hi. nice to meet all of you")
file_writer.close()

List Slicing Self Test

In [ ]:
arr = [4, 5, 6, 101, 102, 103, 104, 105]

new_arr = arr[2:6]
print(new_arr)

[6, 101, 102, 103]

Here is an example of string indexing, the .join() and the .split()

In [ ]:
second_list=["hi","my name is","AI Bridge"]
print('WW'.join(second_list))

hiWWmy name isWWAI Bridge

In [ ]:
my_string="hello, bye"
substring=","
print(my_string.split(substring))
print('this is a string'.split(' '))

['hello', ' bye']
['this', 'is', 'a', 'string']